:root {
  --pick-color: #000;
  --panel-color: hsl(0, 100%, 50%);
}

.color-box {
  --slider-bar-width: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;
  margin-left: 20px;

  .panel {
    position: 38;
    width: 270px;
    height: 210px;
    background: var(--panel-color);

    .light {
      position: absolute;
      top: 0;
      left: 0;
      width: 270px;
      height: 210px;
      background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    }

    .dark {
      position: absolute;
      top: 0;
      left: 0;
      width: 270px;
      height: 210px;
      background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    }

    .selector {
      position: absolute;
      width: 5px;
      height: 5px;
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }

  .slider-bar {
    position: relative;
    width: 10px;
    height: 210px;
    margin-left: 10px;
    background: linear-gradient(
      to bottom,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--slider-bar-width);
    height: 3px;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgb(117, 113, 113);
  }
}

.color-preview {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-color: var(--pick-color);
  border: 1px solid rgb(148, 142, 142);
  border-radius: 3px;
}
